body {margin:0;
  padding:0;
width: 100%;
height: 100%;}

.navbar{
  
  width: 100%;
  height: 50px;
  text-decoration: none;
  position:absolute;
  background-color: rgba(45, 73, 109, 0.247);
  top: 0px;
  left: 0px;
  padding: 15px;
  display: block;
  align-items: center;
  justify-content: center;
  z-index: 1;
  
}


.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li{
  float: left;
  padding: 20px;
 
}

.navbar a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navbar a:hover {
  background-color: rgba(170, 29, 29, 0.8);
  
}

#logo{
flood-color: left;
padding-bottom: 5px;
width: 60px;
}
section{
  padding: 100px 200px;
}
.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #3ba1e6;
}
.home :before{
  z-index: 777;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.home .content1{
  z-index: 888;
  color: #050506;
  width: 70%;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
}
.home .content1 h1{
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 70px;
}
.home .content1 h1 span{
  font-size: 1.2em;
  font-weight: 600;

}
.home .content1 p{
  margin-bottom: 65px;
  font-size: large;
}

@media (max-width: 1080px){
  header{
    padding: 15px 30px;
  }
  section{
    padding: 100px 20px;
  }
    .navbar {
      width: 100%;
      height: 50px;
      position: absolute;
      background-color: rgba(50, 65, 85, 0.26);
      top: 0px;
      left: 0px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li {
  float: left;
  padding: 5px;
}
.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 6px;
  text-decoration: none;
}
  
}
  
